* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	background-color: #f6f4f4;
}

/*----------------------------------------------------------------------------------------
|                              HEADER START                                                 |
-----------------------------------------------------------------------------------------*/

.top-line {
	position: relative;
	width: 100%;
	height: 80px;
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
	background-color: $color-4; 
	z-index: 20;
}

.header {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.logo {
	position: relative;
	display: block;
	width: 20%;
	float: left;
	padding-left: 2em;
	text-decoration: none;
	color: $color-2;
	font-size: 29px;

	&:before {
		content: "\e905";
		font-family: 'icomoon';
	}
}

nav {
	display: flex;
	justify-content: space-between;
	width: 80%;
	float: left;
}

.nav {
	display: flex;
	align-items: center;
	padding-left: 0;
	list-style: none;

	&__item {
		display: inline-block;

		a {
			position: relative;
			padding: 0.5em 1.5em 0.5em 3em;
			color: $color-3;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			&:before {
				content: "";
				font-family: 'icomoon';
				position: absolute;
				left: 1.2em;
				top: 0.3em;
				font-size: 1.2em;
				color: $color-3;
			}
			&:hover {
				color: $color-1;
				&:before {
					color: $color-1;
				}
			}

		}
		.nav__item-order:before {
			content: "\e909";
		}
		.nav__item-suppurt:before {
			content: "\e90a";
		}
		.nav__item-profile:before {
			content: "\e90a";
		}
		.nav__item-balance:before {
			content: "\e90c";
		}

	}
	.active {
		color: $color-1;
		&:before {
			color: $color-1;
		}
		&:after {
			content: '';
			position: absolute;
			left: 1em;
			top: 150%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 22.5px 25px 22.5px;
			border-color: transparent transparent #fff transparent;
		}
	}
}

.user-nav {
	display: flex;
	align-items: center;
	color: $color-3;
}

.add-order {
	position: relative;
	display: inline-block;
	padding: 1em 1em 1em 3em;
	margin-right: 0.5em;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
	border-radius: 3px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}

.add-order__icon {
	position: absolute;
	left: 0.5em;
	top: 0.25em;
	font-size: 2em;
}

.member-menu {
	display: none;

	position: absolute;
	right: -2px;
	top: 100%;
	margin: 0;
	padding-left: 0;
	list-style: none;
	font-size: 14px;
	width: 12em;
	background-color: #f1bd69;
	border: 2px solid #f1bd69;

	li {
		display: block;
		width: 100%;
	}
	a {
		display: block;
		padding: 1em;
		color: $color-3;
		text-decoration: none;
		transition: 0.5s;

		&:hover {
			background-color: $color-4;
			padding-left: 1.5em;
			transition: 0.5s;
		}
	}
}

.member {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0em 2em 0em 0.5em;
	background-color: $color-4;

	&:hover {
		background-color: #f1bd69;
		.member-menu {
			display: block;
		}
	}
}

.member-icon {
	position: relative;
	width: 32px;
	height: 32px;
	background-color: $color-1;
	text-align: center;
	border-radius: 50%;
	line-height: 32px;
	color: #e9e9e9;
	cursor: pointer;
	font-size: 1.5em;
	&:after {
		content: "\e900";
		font-family: 'icomoon' !important;
		position: absolute;
		right: -1em;
		top: 0;
		color: $color-3;
		font-size: 1.3em;
		font-weight: 600;
	}
}


.like {
	cursor: pointer;
}

.like,
.notice {
	font-size: 2em;
	margin: 0 0.5em;
}

.online,
.offline {
	width: 13px;
	height: 13px;
	border: 2px solid #f4f5f8;
	background-color: #dadde4;
	border-radius: 50%;
}

.notice {
	position: relative;

	.online {
		border-color: $color-4;
		background-color: $color-5;
	}
}

.notice__status {
	position: absolute;
	top: 0px;
	right: 0px;
}

/*----------------------------------------------------------------------------------------
|                              HEADER END                                                 |
-----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
|                              CONTENT START                                              |
-----------------------------------------------------------------------------------------*/
.content {
	position: relative;
	
	width: 1200px;
	height: auto;
	min-height: 54em;
	margin: 0 auto;
	background-color: $color-1;
	z-index: 10;
}

.options {
	width: 100%;
	height: 80px;
	padding: 34px 34px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f6f4f4;
}

.options__nav {
	width: 50%;
	padding-left: 0;
	margin: 0;
	list-style: none;

	li {
		display: inline-block;
		padding: 0.71em 2.5em;
		font-size: 16px;
		color: $color-3;
		text-transform: uppercase;
		border-bottom: 4px solid transparent;

		&:hover {
			color: $color-5;
		}

		&.active {
			color: $color-5;
			border-color: $color-5;
		}
	}	
}

.options__sort {
	position: relative;
	padding: 0.7em 1.5em 0.7em 0;
	height: 10px;
	color: $color-3;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;

	&:after {
		content: "\e900";
		font-family: 'icomoon';
		position: absolute;
		right: -0.5em;
		top: 18%;
		font-size: 1.8em;
	}
}

.options__info {
	padding: 0 34px;
}

.options__head {
	width: 100%;
	height: 60px;

	ul {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		list-style: none;
		margin: 0;
		
		.col-name {
			flex: 0 0 35%;
		}
		
		.col-date {
			flex: 0 0 14%;
		}
		
		.col-state,
		.col-assigned {
			flex: 0 0 16%;
		}
		
		.col-cost {
			flex: 0 0 9%;
			text-align:  center;
		}
		
		.col-id {
			flex: 0 0 10%;
			text-align:  center;
		}
	}

	li {
		display: inline-block;
		color: #818e99;
		font-weight: 600;
		line-height: 92px;
	}
}

.order {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 94px;
	margin-bottom: 0.8em;
	box-shadow: 0 1px 1px rgba(158, 162, 178, 0.3);
	border-radius: 5px;
	border-left-width: 4px;
	border-left-style: solid; 
	border-color: $color-3;
	background-color: #f3f5f7;
	line-height: 1.5em;
	font-weight: 600;
	color: $color-3/0.6;

	&--status_progress {
		border-color: $color-5;

		.status-bar__inner {
			background: $color-5;
		}
	}

	&--status_canceled {
		opacity: 0.6;
		border-left: 4px solid $color-7;

		.status-bar__inner {
			background: $color-7;
		}
	}

	&--status_finished {
		border-left: 4px solid $color-4;

		.status-bar__inner {
			background: $color-4;
		}
	}

	&--status_bidding {
		border-left: 4px solid $color-6;

		.status-bar__inner {
              background: $color-6;
        }
	}
}

.order__title,
.order__deadline,
.order__status,
.order__rate,
.order__price {
	color: $color-3;
}

.order__name {
	padding-left: 2em;
	flex: 0 0 35%;
}

.order__date {
	padding-left: 2em;
	flex: 0 0 14%;	
}

.order__state,
.order__assigned {
	flex: 0 0 16%;
}

.order__cost {
	flex: 0 0 9%;
	text-align:  center;
}

.order__id {
	flex: 0 0 10%;
	text-align:  center;
}

.order__status-bar {
	position: relative;
	width: 90%;
	height: 8px;
	margin: 0.5em 0;
	border-radius: 3px;
	background-color: #dadde4;
	overflow: hidden;
}

.status-bar__inner {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
	height: 100%;
}

.order__icon {
	display: inline-block;
	padding-left: 2em;
	margin: 0 auto;
}

.order__user {
	display: inline-block;
	margin-left: 1em;
}

.status-icon {
	display: inline-block;
	font-size: 1.7em;
	color: gold;
}

.order__rate {
	display: flex;
	align-items: center;
}

.order__img {
	position: relative;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;

	.online{
		background-color: $color-5;
	}

	.notice__status{
		top: 2.3em;
	}

	.order__rate{
		display: inline-block !important;
		.status-icon {
			display: inline-block !important;
			font-size: 2em;
		}
	}	
}

.order__id {
	font-weight: 400;
	padding-left: 2em;
}
/*----------------------------------------------------------------------------------------
|                              CONTENT END                                              |
-----------------------------------------------------------------------------------------*/