/*   font / background colors   */

$color-1: #fff;           // White.
$color-2: #302410;        // Very dark (mostly black) orange [Brown tone].
$color-3: #4a524b;        // Very dark grayish lime green.
$color-4: #efb352;        // Soft orange.
$color-5: #54ae56;        // Dark moderate lime green.
$color-6: #83e9f9;        // Soft cyan.
$color-7: #cfbbaf;        // Grayish orange.
