
$icon-arrow_down: "\EA01" !default;

$icon-bell: "\EA02" !default;

$icon-dollar: "\EA03" !default;

$icon-heart: "\EA04" !default;

$icon-mail: "\EA05" !default;

$icon-pen: "\EA06" !default;

$icon-plus: "\EA07" !default;

$icon-star: "\EA08" !default;

$icon-user: "\EA09" !default;